*,
::after,
::before {
  box-sizing: border-box;
}
body {
  background-color: #78cccb;
  font-family: "Montserrat", sans-serif;
  padding: 50px 0;
}

main {
  text-align: center;
}
.header {
  background-color: #FF5E5B;
  border-radius: 20px 20px 0 0;
  width: 1079px;
  height: 94px;
  margin: 0 auto;
}
#sketchpad {
  display: inline-grid;
  border: solid #ff5e5b;
  border-width: 86px 100px;
  grid-gap: 1px;
  background-color: #aaaaaa;
  cursor: crosshair;

}

#sketchpad > div {
  background-color: aliceblue;
}

.small-grid {
  grid-template-columns: repeat(22, auto);
  box-sizing: border-box;
}
.small-grid > div {
  height: 39px;
  width: 39px;
}

.medium-grid-default {
  grid-template-columns: repeat(44, auto);
}
.medium-grid-default > div {
  height: 19px;
  width: 19px;
}

.large-grid {
  grid-template-columns: repeat(88, auto);
}
.large-grid > div {
  height: 9px;
  width: 9px;
}
.buttons-interface {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}


